{% extends 'kursus/base.html' %}
{% block title %}Form Instruktur - MiniLMS{% endblock %}
{% block content %}
<div class="card p-4">
    <h3 class="mb-3">{% if object %}Edit Instruktur{% else %}Tambah
        Instruktur{% endif %}</h3>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Simpan</button>
            <a href="{% url 'instruktur-list' %}" class="btn btn-secondary">Batal</ a>
        </div>
    </form>
</div>
{% endblock %}