{% extends 'kursus/base.html' %}
{% block title %}Hapus Materi - {{ object.judul }}{% endblock %}
{% block content %}
<div class="card p-4">
    <h4 class="text-danger">Konfirmasi Hapus Materi</h4>
    <p>Yakin ingin menghapus materi: <strong>{{ object.judul }}</strong> ?</p>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger">Ya, Hapus</button>
        <a href="{% url 'materi-detail' object.pk %}" class="btn btnsecondary">Batal</a>
    </form>
</div>
{% endblock %}